.MuiDataGrid-columnHeader,
.MuiDataGrid-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.centered-header .MuiDataGrid-columnHeaderTitle {
  display: flex;
  align-items: center;
  justify-content: center;
}
